<div id="contact" class="layout">

  <div class="separator"></div>

  <div id="background-1"></div>
  <div id="background-2"></div>

  <h2 class="pretitle">Contact Me</h2>
  <h2 class="huge">
    Hit me up, I won’t <span class="pop">bite</span>!
  </h2>

  <center class="block">
    <a class="button" href="mailto:tareqdandachi@gmail.com" id="email_button">
      Shoot me an Email
    </a>
    <p class="button_or">or</p>
    <a class="button" href="https://m.me/tdandachi" target="_blank" id="dm_button">
      Slide in my DM's
    </a>
  </center>

</div>
