<div class="{{ include.extra_class }}" style="position: relative">

  <svg viewBox="0 0 820 600" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="picture" style="position: absolute; top: 0px; z-index: -1;">
      <g id="lazy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <rect fill="#FFFFFF" x="0" y="0" width="820" height="600"></rect>
          <rect fill="{{include.color1}}" x="0" y="0" width="385" height="600"></rect>
          <rect fill="{{include.color2}}" x="435" y="0" width="385" height="600"></rect>
      </g>
  </svg>

  <img data-srcset="/resources/images/{{ include.img }}_2460.jpg  2460w, /resources/images/{{ include.img }}_1024.jpg  1024w, /resources/images/{{ include.img }}_640.jpg 640w, /resources/images/{{ include.img }}_320.jpg  320w"
   sizes="(min-width: 1000px) and (max-aspect-ratio: 1/1) 72vw, (min-width: 1000px) and (min-aspect-ratio: 1/1) 106vh, 90vw"
   data-src="/resources/images/{{ include.img }}_320.jpg"
   alt="{{ include.alt }}"
   class="{{ include.extra_class }} picture lozad"/>

  <noscript>

    <img srcset="/resources/images/{{ include.img }}_2460.jpg  2460w, /resources/images/{{ include.img }}_1024.jpg  1024w, /resources/images/{{ include.img }}_640.jpg 640w, /resources/images/{{ include.img }}_320.jpg  320w"
       sizes="(min-width: 1000px) and (max-aspect-ratio: 1/1) 72vw, (min-width: 1000px) and (min-aspect-ratio: 1/1) 106vh, 90vw"
       src="/resources/images/{{ include.img }}_1024.jpg"
       alt="{{ include.alt }}"
       class="{{ include.extra_class }} picture"/>

  </noscript>

</div>
