:root {

  --pop:    #FE1717;
  --subtle: #fafafa;
  --light: #9B9B9B;
  --dark:   #1E1E1E;

}

@-ms-viewport{
  width: device-width;
}

html {

  font-family: 'Hind', Helvetica, Arial, sans-serif;
  /*overflow-x: hidden;*/

}

body {

  margin-bottom: 0px !important;
  padding: 0px;
  margin: 0;

}

a {

  text-decoration: none;

}

#main {

  font-size: 14px;

}

#main_content {

  margin-top: 40px;

}

#navbar {

  overflow: hidden;
  background-color: white;
  width: 100%;
  z-index: 3;

  height: 94px;

  display: table;

  font-size: 80%;

  transition: 0.5s;

  text-align: center;

  margin-top: 40px;

}

#navbar .logo {

  width: 200px;
  height: 48px;

  display: block;

  margin: 15px auto;

  background-image: url('/resources/logos/logoSq.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  cursor: pointer;

  transition: 0.2s;

}

#navbar .logo:hover {

  background-image: url('/resources/logos/logoSqMonoPop.png');
  animation: 0.4s ease-in-out 1 wiggle;

}

@keyframes wiggle {

  0%    {transform: skewX(0deg) skewY(0deg);}
  25%   {transform: skewX(10deg) skewY(0deg);}
  50%   {transform: skewX(0deg) skewY(10deg);}
  75%   {transform: skewX(-10deg) skewY(0deg);}
  100%  {transform: skewX(0deg) skewY(0deg);}

}

#navbar ul {

  float: center;

  margin: 0 auto;
  height: 94px;
  padding: 0px;

  display: table;

}

#navbar ul a {

  font-size: 18px;
  width: 100px;

  padding-left:  15px;
  padding-right: 15px;

  display: table-cell;
  vertical-align: middle;

  cursor: pointer;

  text-decoration: none;

  color: inherit;

}

#navbar ul a span {

  padding: 5px 0.75em;

  -moz-box-shadow: inset 0px 0px 0px 0px var(--pop);
  -webkit-box-shadow: inset 0px 0px 0px 0px var(--pop);
  box-shadow: inset 0px 0px 0px 0px var(--pop);

  transition: 0.3s ease;

}

#navbar ul a span {

  animation: 0.2s ease-out 0s 1 navbar_selection;

}

@keyframes navbar_selection {

  from {-moz-box-shadow: inset 300px 0px 0px 0px var(--pop); -webkit-box-shadow: inset 300px 0px 0px 0px var(--pop); box-shadow: inset 300px 0px 0px 0px var(--pop); color: white;}
  to   {box-shadow: inset 0px 0px 0px 0px var(--pop); -webkit-box-shadow: inset 0px 0px 0px 0px var(--pop); box-shadow: inset 0px 0px 0px 0px var(--pop); color: black;}

}

#navbar a span.selected {

  -moz-box-shadow: inset 0px 0px 0px 0px var(--pop);
  -webkit-box-shadow: inset 0px 0px 0px 0px var(--pop);
  box-shadow: inset 0px 0px 0px 0px var(--pop);
  color: var(--pop);

}

#navbar a:hover span {

  -moz-box-shadow: inset 100px 0px 0px 0px var(--pop);
  -webkit-box-shadow: inset 100px 0px 0px 0px var(--pop);
  box-shadow: inset 100px 0px 0px 0px var(--pop);
  color: white;

}

footer {

  height: auto;
  color: var(--dark);
  text-align: center;
  font-size: 14px;
  padding: 10px;
  padding-bottom: 12px;
  font-weight: 400;

}

.separator {

  width: 80%;
  margin-left: 10%;

  height: 1px;

  background-color: #E1E0E1;

  margin-bottom: 40px;

}

.work-item .separator {

  margin-bottom: 0px;

}

h1.huge {

  padding-top: 0px;

  margin-left: 20px;

  margin-bottom: 40px;

  font-size: 3em;

  font-weight: 500;

}

h2.huge {

  font-size: 2.5em;
  line-height: 42px;

  padding-left: 50px;
  padding-right: 50px;
  margin-top: 0px;

  font-weight: 500;

}

h2.section_title {

  margin-top: 80px;
  margin-bottom: 80px;

  line-height: 2.5em;
  height: auto;

}

h3.huge {

  font-size: 1.25em;
  line-height: 42px;

  margin: 0 24px;

  font-weight: 400;

}

.pretitle {

  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;

  display: block;

  margin: 0;
  margin-bottom: 10px;

  color: #414244;

}

h2.pretitle {

  padding-left: 50px;
  padding-right: 50px;

}

h3.pretitle {

  padding-left: 24px;
  padding-right: 24px;

}

h3.note {

  padding-left: 24px;
  padding-right: 24px;

  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;

  display: block;

  margin: 0;
  margin-bottom: 10px;

  text-indent: -1.5vw;

  color: #414244;

}

h3.note::before {

  content: "*";
  padding-right: 1vw;

}

h3.caption {

  padding-left: 24px;
  padding-right: 24px;

  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;

  display: block;

  margin: 0;
  margin-bottom: 10px;

  text-align: center;

  color: #414244;

}

img.portrait {

  width: 80%;
  height: 80vh;
  max-height: 700px;

  min-height: 48vw;

  margin: 7vh 10%;

  object-fit: contain;

}

img.picture {

  width: 90%;
  max-height: 80vh;

  margin: 7vh 5%;

  min-height: 63vw;

  object-fit: contain;

}

img.picture.work_banner {

  min-height: auto;

}

img.work_banner {

  margin-top: 0;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}

img.work_banner.below {

  width: 90vw;

  position: absolute;
  left: 0;

  transition: 0s;

}

img.fill_up {

  object-fit: cover;

  margin-top: 0px;
  margin-bottom: 20px;

}

img.emoji {

  height: 1em;

  padding-left: 0.2em;
  padding-right: 0.15em;

}

h3.fill_up {

  width: 90%;
  margin: 40px 5% 40px 5%;

  font-weight: 400;

  text-align: justify;

}

h3.work {

  font-size: 1.25em;
  line-height: 42px;

  margin: 0 24px;

  font-weight: 400;

  margin-top: 20px;
  margin-bottom: 20px;

}

p.work {

  font-size: 1.25em;
  margin-left: 24px;
  margin-bottom: 10px;

  min-height: 10px;

}

p.work.more_info {

  margin-top: 20px;

  text-align: left;

  cursor: pointer;

}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #fff;
  background-image: none;
  flex: 1;
  padding: 0 1em;
  color: black;
  cursor: pointer;
  font-size: 1em;
}

select::-ms-expand {
  display: none;
}

.select {
  position: relative;
  display: flex;
  line-height: 55px;
  background: #fff;
  overflow: hidden;
  margin: 0 5% 20px 5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 17px 14px;
  transition: 0.4s;
}

.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1.5em;
  background: #fff;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

.select:hover::after {
  color: var(--pop);
}

.active-search.select {

  border: 1px solid var(--pop);

}

.active-search.select::after {
  color: var(--pop);
}

input {

  position: relative;
  display: block;
  width: 90%;
  line-height: 3;
  background: #fff;
  margin: 0 5% 20px 5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 17px 14px;
  transition: 0.4s;
  box-sizing: border-box;
  outline: none;
  font-size: 1em;

}

input:valid {

  border: 1px solid var(--pop);

}

label {

  font-size: 18px;

  margin-left: 5%;

}

#search {

  max-height: 0px;
  overflow: hidden;
  transition: 0.5s linear;

}

.search {

  display: grid;

  grid-template-columns: 100%;

}

.search-button {

  color: var(--pop);
  transition: 0.2s;
  cursor: pointer;

}

.search-button:hover {

  color: black;

}

#clearSearch {

  transition: 0.2s;
  opacity: 0;

}

div.work-item {

  max-height: 200vh;

  transition: 1s;

  overflow-y: hidden;

}

div.work {

  margin: 0px 24px;

  transition: 0.5s;

  max-height: 1000px;

  overflow-y: hidden;

}

div.work.hidden_desc {

  max-height: 0px;

  transition: 0.2s;

}

ul {
  font-size: 1.25em;
  line-height: 2em;
  margin: 5px 5vw 15px;
  padding: 0;
}

ul li {
  list-style: none;
  position: relative;
  padding: 0 0 0 7vw;
}

ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.6em;
  width: 10px;
  height: 10px;
  background-color: var(--pop);
}

ul li h4 {

  font-size: 1em;
  margin: -15px 0 0px 10px;

  color: #414244;

}

ul li h3 .date::before {

  content: " – ";
  padding-left: 0.25em;

}

ul li a {

  color: var(--pop);
  cursor: pointer;
  margin-left: 5px;
  padding-left: 5px;
  margin-right: 5px;
  padding-right: 5px;

  transition: 0.2s;

}

ul li a:hover {

  color: var(--dark);

}

div.experience_grid {

  width: 90%;
  margin: 20px 5%;

  display: grid;

  grid-column-gap: 10px;
  grid-row-gap: 10px;

  grid-template-columns: auto;

}

div.experience_grid .subject {

  min-height: 200px;

  background-color: lightgray;
  display: inline-block;

  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;

  color: white;
  text-shadow: 0px 0px 10px rgba(41,42,44,0.3);

  padding: 0 10%;

  font-size: 2em;
  font-weight: bold;

  display:flex;
  justify-content:center;
  align-items:center;

}

div.experience_grid .subject.design {

  background-image: url('/resources/images/experience/design_bg_640.jpg');

}

div.experience_grid .subject.bio {

  background-image: url('/resources/images/experience/bio_bg_640.jpg');

}

div.experience_grid .subject.cs {

  background-image: url('/resources/images/experience/cs_bg_640.jpg');

}

div.experience_grid .subject.ee {

  background-image: url('/resources/images/experience/ee_bg_640.jpg');

}

a.button {

  width: 250px;
  padding: 1em 0;

  display: block;

  font-size: 21px;
  text-align: center;

  background-color: #F8F8F8;
  color: #AAAEB5;

  cursor: pointer;

  transition: 0.4s;

}

a.button:hover, a.button:focus {

  background-color: var(--pop);
  color: white;

}

p.button_or {

  font-size: 18px;

  min-width: 200px;

  color: #AAAEB5;

  display: block;

}

.block {

  margin: 15vh 0px;

}

.floating_paragraph {

  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 710px;

}

.floating_paragraph {

  font-size: 18px;
  line-height: 30px;

}

.floating_paragraph h1 {

  line-height: 50px;

}

.highlight_on_hover {

  overflow: hidden;
  width: max-content;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;

}

.capitalise {

  text-transform: uppercase;

}

.tight {

  margin: 0px;
  overflow: hidden;
  width: max-content;
  display: inline-block;

}

.right_align .tight {

  margin: 0px;
  overflow: hidden;
  width: max-content;
  display: inline-block;
  position: relative;
  top: 0px;
  right: -20px;
  margin-right: 50px;

}

.three_boxes {

  display: grid;
  width: 100vw;
  position: relative;
  grid-template-columns: 33.333% 33.333% 33.333%;/*repeat(auto-fit, minmax(500px, 1fr));*/

}

.three_boxes .box {

  padding: 50px;
  background-color: white;
  transition: 0.4s;
  position: relative;
  min-height: 200px;

}

.three_boxes .box:hover {

  background-color: #F0F0F0;

}

.three_boxes span.number {

  color: var(--light);

}

.three_boxes h1 {

  font-size: 40px;
  color: black;

}

.three_boxes p {

  line-height: 24px;

}

.invert {

  background-color: black !important;
  color: white !important;

  padding-left:  0.25em;
  padding-right: 0.25em;

}

.invert.bg-pop {

  color: var(--pop) !important;

}

.invert.bg-subtle {

  color: var(--subtle) !important;

}

.invert.bg-dark {

  color: var(--dark) !important;

}

.pop {

  color: var(--pop);

}

.pop.invert {

  background-color: var(--pop) !important;

}

.pop.highlight_on_hover {

  padding: 10px;

  box-shadow: inset 0px 0px 0px 0px white;
  -webkit-box-shadow: inset 0px 0px 0px 0px white;
  -moz-box-shadow: inset 0px 0px 0px 0px white;

  color: white;

  transition: 0.2s;

  cursor: pointer;

}

.pop.highlight_on_hover:hover {

box-shadow: inset 30em 0px 0px 0px white;
-webkit-box-shadow: inset 30em 0px 0px 0px white;
-moz-box-shadow: inset 30em 0px 0px 0px white;

  color: var(--pop);

}

.white.highlight_on_hover {

  padding: 10px;

  box-shadow: inset 0px 0px 0px 0px var(--pop);
  -webkit-box-shadow: inset 0px 0px 0px 0px var(--pop);
  -moz-box-shadow: inset 0px 0px 0px 0px var(--pop);

  color: var(--pop);

  transition: 0.2s;

  cursor: pointer;

}

.white.highlight_on_hover:hover {

box-shadow: inset 30em 0px 0px 0px var(--pop);
-webkit-box-shadow: inset 30em 0px 0px 0px var(--pop);
-moz-box-shadow: inset 30em 0px 0px 0px var(--pop);

  color: white;

}

.light {

  color: var(--light);

}

.light.invert {

  background-color: var(--light) !important;

}

.subtle {

  color: var(--subtle) !important;

}

.subtle.invert {

  background-color: var(--subtle) !important;

}

.dark {

  color: var(--dark);

}

.dark.invert {

  background-color: var(--dark) !important;

}

.white {

  color: white;

}

.white.invert {

  background-color: white !important;

}

.superdark-bg {

  background-color: var(--superdark);

}

.white_color {

  color: white;

}

.code_font {

  font-family: 'Roboto Mono', monospace;

}

.code_color1 {

  color: #9686F5;

}

.code_color2 {

  color: #FC5FA3;
  font-weight: bold;

}

.code_color3 {

  color: #FC6A5D;

}

.code_color4 {

  color: #FD8F3F;

}

.code_color5 {

  color: #75B492;

}

.code_color5 {

  color: #91D462;

}

.code_color6 {

  color: #53A5FB;

}

.code_color7 {

  color: #99E8D5;

}

.code_image {

  transition: 0.4s;

  width: 25px;
  height: 25px;

  display: inline-block;

  transform: translateY(5px) translateX(-4px);
  border-radius: 3px;

  background-image: url('https://pbs.twimg.com/profile_images/1035649273721847809/B0f8n_oe_400x400.jpg');
  background-size: contain;
  background-repeat: no-repeat;

}

.code_image:hover {

  transition-delay: 0.2s;

  transition: 0.4s;

  position: relative;

  width: 150px;
  height: 150px;

  border-radius: 13%;

  margin-top: -25px;

}

.card {

  height: auto;
  padding: 60px;
  padding-left: 80px;
  padding-right: 80px;

  transition: 0.2s;

}

.card h3 {

  margin-top: 30px; line-height: 33px; margin-right: 60px;

}

.card.dark {

  background-color: var(--dark);
  color: white;

}

.tabulate {

  padding-left: 25px;

}

.tabulate2 {

  padding-left: 50px;

}

.tabulate4 {

  padding-left: 100px;

}

.collapsed_text {

  background-color: #444;
  color: white;

  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;

}

.code_table {

  width: 100%;

  color: white;

}

.code_table th {

  text-align: left;

}

tr > td:last-of-type {

  width: 10px;

}

.red_bar_off {

  color: var(--dark);

}

.orange_bar_off {

  color: var(--dark);

}

.green_bar_off {

  color: var(--dark);

}

.red_bar_off .on {

  color: #D0021B !important;

}

.orange_bar_off .on {

  color: #F5A623 !important;

}

.green_bar_off .on {

  color: #7ED321 !important;

}

.right_align {

  text-align: right;
  padding-top: 25px;

}

.space_out {

  margin-top: 130px;

}

.inline-title {

  display: inline-block; line-height:16px; margin-bottom: 80px

}

.inline-button {

  float:right; display: inline-block; vertical-align: middle

}

.inline-button:hover {

  color: var(--teal);
  cursor: pointer;

}

/* IS-EXITING: ANIMATIONS */

.is-exiting .card {

  opacity: 0;
  transform: scale(1.1);
  transform-origin: center;

}

.is-exiting #navbar a span {

  box-shadow: inset 300px 0px 0px 0px var(--pop);
  -webkit-box-shadow: inset 300px 0px 0px 0px var(--pop);
  -moz-box-shadow: inset 300px 0px 0px 0px var(--pop);
  color: white;

}

/* EXTRAS */

::selection {
    background-color: var(--pop);
    color: #fff;
}

::-moz-selection {
    background-color: var(--pop);
    color: #fff;
}

::-o-selection {
    background-color: var(--pop);
    color: #fff;
}

::-ms-selection {
    background-color: var(--pop);
    color: #fff;
}

::-webkit-selection {
    background-color: var(--pop);
    color: #fff;
}

.fill_me_up {
  position: relative;
  cursor: pointer;
}
.fill_me_up:before {
  top: 0;
  left: 0;
  width: 0;
  color: var(--dark);
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 0.9s;
}
.fill_me_up:hover:before {
  width: 100%;
}

/* Responsive */

@media screen and (min-width: 1000px) {

  #main { font-size: 24px; }

  #contact {

    height: 90vh;

  }

  #contact .huge {

    margin-top: 10vh;

  }

  #contact .block {

    margin-top: 25vh;

  }

  #background-1 {

    width: 50vw;
    height: 90vh;

    background-image: -webkit-linear-gradient(right, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 5%, rgba(255,255,255,0.1) 15%, rgba(255,255,255,0) 20%), url('/resources/images/background-1.jpg');

    background-position: right;

    background-size: cover;
    background-repeat: no-repeat;

    padding-bottom: 4px;
    padding-top: 40px;
    margin-top: -40px;

    position: absolute;
    z-index: -1;
    left: 0;

    opacity: 0.1;

    transition: 0.2s;

  }

  #background-2 {

    width: 50vw;
    height: 90vh;

    background-image: url('/resources/images/background-2.jpeg');

    background-image: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 5%, rgba(255,255,255,0.1) 15%, rgba(255,255,255,0) 20%), url('/resources/images/background-2.jpg');

    background-size: cover;
    background-repeat: no-repeat;

    padding-bottom: 4px;
    padding-top: 40px;
    margin-top: -40px;

    position: absolute;
    z-index: -1;
    right: 0;

    opacity: 0.1;

    transition: 0.2s;

  }

  a.button { display: inline-block; }

  p.button_or { display: inline-block; }

  h2.title {

    width: 600px;

    line-height: 1.2em;

    margin-left: auto;
    margin-right: auto;

    text-align: center;

  }

  h3.photo_paragraph {

    max-width: 80%;
    margin: auto;

    text-align: justify;

  }

  h3.work {

    font-size: 1em;

    max-width: 80%;
    text-align: justify;
    margin: 40px auto;

  }

  h3.huge {

    font-size: 1em;

  }

  h3.huge.title {

    font-size: 1.25em;

  }

  h3.fill_up {

    font-size: 1em;

  }

  p.work {

    font-size: 0.8em;

    max-width: 80%;
    text-align: right;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 40px;

  }

  p.work.more_info {

    margin-bottom: -20px;

  }

  p.work a {

    transition: 0.1s;
    color: var(--pop);

  }

  p.work a:hover {

    background-color: var(--pop);
    color: white !important;

    padding-left: 7px;
    padding-right: 7px;

  }

  p.work.more_info .more_info_button:hover {

    color: #000 !important;

    background-color: white;

    padding-left: 0px;
    padding-right: 0px;

  }

  select {

    font-size: 20px;
    padding-left: 10px;

  }

  .select {

    line-height: 60px;

  }

  .select::after {

    width: 18px;
    padding-left: 18px;
    font-size: 15px;

  }

  .search {

    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;

  }

  input {

    font-size: 20px;
    width: 90%;
    padding: 0px 24px;

  }

  div.work {

    width: 80%;
    margin-left: 10%;

    display: grid;

    grid-template-columns: 50% 50%;

  }

  div.work h2 {

    font-size: 1em;

    margin-top: 10px;
    margin-bottom: 30px;

  }

  div.work ul {

    margin-left: 30px;

  }

  img.picture {

    min-height: 50vw;

  }

  img.picture.work_banner {

    min-height: auto;

  }

  ul {

    font-size: 0.8em;
    color: var(--dark);

  }

  ul li {

    padding: 0 0 10px 50px;

    color: #414244;

  }

  ul li h3 {

    font-size: 1.6em;

    color: var(--dark);

  }

  ul li h3 .date {

    font-size: 0.6em;

    color: grey;

  }

  ul li h4 {

    margin-top: -25px;

  }

  div.layout {

    width: 80%;
    margin-left: 10%;

  }

  .pretitle {

    text-align: center;

    font-size: 0.6em;

  }

  h3.note {

    width: 80%;
    padding-left: 10%;
    padding-right: 10%;

    text-align: left;
    font-size: 0.6em;

  }

  h3.caption {

    width: 80%;
    padding-left: 10%;
    padding-right: 10%;

    font-size: 0.6em;

  }

  div.experience_grid { grid-template-columns: 50% 50%; }

  div.experience_grid .subject {

    min-height: auto;
    height: 350px;

    padding: 0 20px;

    font-size: 1.5em;

    -moz-box-shadow: 0px 0px 0px var(--pop) inset, 0px 0px 0px var(--pop) inset;
		-webkit-box-shadow: 0px 0px 0px var(--pop) inset, 0px 0px 0px var(--pop) inset;
		box-shadow: 0px 0px 0px var(--pop) inset, 0px 0px 0px var(--pop) inset;

    transition: 0.4s;

    cursor: pointer;

  }

  div.experience_grid .subject:hover {

    -moz-box-shadow: 15px 15px 0px var(--pop) inset, -15px -15px 0px var(--pop) inset;
		-webkit-box-shadow: 15px 15px 0px var(--pop) inset, -15px -15px 0px var(--pop) inset;
		box-shadow: 15px 15px 0px var(--pop) inset, -15px -15px 0px var(--pop) inset;

  }

  img.work_banner.below {

    width: 72vw;

    position: absolute;
    left: 9vw;

  }

}

/* On enter animations */

h1.huge {

  animation: 0.2s ease-in slideInFromLeft;

}

.slideInFromLeft {

  animation: 0.4s ease-in slideInFromLeft2;

}

.highlight_on_hover {

  animation: 0.8s ease-out slideInFromBottom;

}

h2.huge{

  animation: 0.8s ease-out slideInFromBottom;

}

.portrait {

  animation: 0.2s ease-in-out grow;

}

.pretitle {

  animation: 0.5s ease-out slideInFromTop;

}

img.work_banner.below {

  height: 0;

  animation: 0.5s ease-out go_away;

}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromLeft2 {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  30% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  70% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  30% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes grow {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes go_away {
  0% {
    height: auto;
  }
  100% {
    height: 0px;
  }
}

/* On exit animations */

.out #navbar ul a span {

  -moz-box-shadow: inset 300px 0px 0px 0px var(--pop);
  -webkit-box-shadow: inset 300px 0px 0px 0px var(--pop);
  box-shadow: inset 300px 0px 0px 0px var(--pop);

  color: white;

}

.out #navbar .logo {

  background-image: url('/resources/logos/logoSqMonoPop.png');

}

.portrait, .picture { transition: 0.2s; }

.out .portrait, .out .picture {

  transform: scale(1.05);
  opacity: 0;

}

#main_content {

  transition: 0.4s transform;

}

.out #main_content {

  transform: translateY(100vh);/* skewY(-20deg);*/

}
