<!DOCTYPE html>
<html>
<head>

{%- include head.html -%}

</head>

<!--FIXME: ADD NOSCRIPT TAG SUPPORT-->

<body class="landing">

  <div id="main">

    {%- include navbar.html -%}

    <div id="main_content">

      <div class="layout">

        <h1 class="detail-page"> {{ page.title-long }}</h1>

        {{ content }}

      </div>

    </div>

    {%- include contact.html -%}

    <footer>
      TAREQ DANDACHI © 2019
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="/resources/js/contact.js"></script>
    {% for item in page.script %}
        <script src="/resources/js/{{item}}.js"></script>
    {% endfor %}

    </div> <!--CLOSES MAIN-->

  <script src="https://cdn.jsdelivr.net/npm/smoothstate@0.7.2/src/jquery.smoothState.min.js"></script>
  <script src="/resources/js/page_delegate.js"></script>

</body>
</html>
